<div class="div-produto" >
    <div class="productDetails">
        <img class="productImgs" src="../../../../assets/img/products/pad.jpg" alt="">
        <p class="productDescription"> {{descricaoProduto}} Tablet Samsung </p>
    </div>
    <div class="productPrice">
        <div class="price">
            <p class="valor">
                <span #produtoo class="cifrao"> R$ </span> 999,90
            </p>
            <img  (click)="addProduct()" class="carrinho" src="../../../../assets/img/cart2.png" alt="">
        </div>
    </div>
</div>  